# Node modules
node_modules/

# Go workflow files
go.work

# output
bin/
out/
dist/
build/
tmp/
*.tgz

# code coverage
coverage
*.lcov
# Logs.
logs/
*.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache

# IDE files
.idea/
.vscode/
.kilocode/

# Finder (MacOS) folder config
.DS_Store
