package components

// BodyScripts returns JavaScript to be executed on page load
templ BodyScripts() {
  <script>
    // Any global JavaScript initialization
    console.log("Page initialized")
  </script>
}